@font-face {
    font-family: "Benzin";
    src: url('../fonts/Benzin-Semibold.ttf');
    font-weight: 600;
}

$font-benzin: 'Benzin', sans-serif;
$font-nunito: "Nunito Sans", system-ui;
$font-montserrat: "Montserrat", system-ui;

body._body--new {
    font-family: $font-montserrat;
    font-weight: 400;
    color: #1F1F1F;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0;
    }
}

.btn {
    &_lightblue {
        display: inline-flex;
        padding: 20px 32px;
        border-radius: 16px;
        background: #B6D3FF;
        color: #1F1F1F;
        cursor: pointer;
        user-select: none;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        transition: .2s ease-in-out all;

        &:hover, &:active {
            background: #cce0ff;
        }
    }
}

.main {
    &_title {
        font-family: $font-benzin;
        font-size: 48px;
        line-height: 120%;
        margin: 0;
    }

    &_description {
        font-family: $font-montserrat;
        font-weight: 300;
        font-size: 24px;
        line-height: 160%;
        margin: 0;
    }
}

// Home 
.home {
    background: #163DA8;
    color: #fff;
    border-radius: 0 0 100px 100px;
    padding: 88px 0 194px;
    font-family: $font-montserrat;
    overflow: hidden;
    position: relative;
    z-index: 1;

    h2 {
        font-family: $font-benzin;
        font-size: 56px;
        line-height: 120%;
        margin-bottom: 24px;
    }

    p {
        font-size: 24px;
        font-weight: 400;
        opacity: 0.8;
        max-width: 587px;
        font-family: $font-montserrat;
        margin-bottom: 40px;
    }

    img {
        position: absolute;
        z-index: -1;
        right: -17px;
        bottom: -246px;
        width: 1156px;

        &.sm {
            display: none;
        }
    }
}
// Home  end

// About
.about {
    padding-top: 120px;

    .main_description {
        max-width: 912px;
        margin: 24px 0 64px;
    }

    &_content {
        margin-bottom: 120px;
        border-radius: 0 0 56px 56px;
        overflow: hidden;
    }

    &_body {
        background: #B6D3FF;
        border-radius: 56px;
        position: relative;
        z-index: 1;
        padding: 40px 64px;

        p {
            font-family: $font-montserrat;
            font-size: 32px;
            font-weight: 500;
            line-height: 160%;
            max-width: 660px;
            margin: 0;
        }

        img {
            position: absolute;
            right: 107px;
            bottom: 0;
            z-index: -1;
            width: 398px;
        }
    }

    &_card {
        display: flex;
        align-items: stretch;
        gap: 24px;

        &__item {
            width: 100%;
            background: #FFF;
            border-radius: 56px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            font-family: $font-montserrat;

            h3 {
                font-size: 32px;
                font-family: $font-benzin;
                line-height: 120%;
                opacity: 0.7;
                margin-bottom: 0;
            }

            h4 {
                font-size: 24px;
                font-weight: bold;
                line-height: 120%;
                color: #1F1F1F;
                opacity: 0.7;
                margin-bottom: 4px;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 160%;
                margin-bottom: 0;
            }

            &:nth-child(2) {
                width: 416px;
                flex-shrink: 0;

                h3, h4 {
                    color: #163DA8;
                    opacity: 1;
                }
            }

            &:nth-child(3) {
                background: #163DA8;
                color: #fff;

                h3, h4 {
                    opacity: 1;
                    color: #fff;
                }
            }
        }
    }
}
// About end

// Work
.work {
    padding: 120px 0;

    .main_description {
        margin: 24px 0 40px;
    }

    &_card {
        display: flex;
        align-items: stretch;
        gap: 24px;

        &__item {
            background: #fff;
            width: 100%;
            border-radius: 56px;
            padding: 40px;
            font-family: $font-montserrat;

            &:nth-child(3), &:nth-child(4) {
                h3 {
                    color: #365BB9;
                }
            }

            h3 {
                font-family: $font-benzin;
                font-size: 32px;
                line-height: 120%;
                color: #7697DC;
                margin-bottom: 40px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }

            li {
                &:last-child {
                    h4 {
                        color: #163DA8;
                    }
                }
            }

            h4 {
                font-weight: bold;
                font-size: 24px;
                line-height: 120%;
                margin-bottom: 4px;
            }
            
            p {
                margin: 0;
                font-size: 16px;
                line-height: 160%;
                font-weight: 300;
            }
        }
    }
}
// Work end

// Choose
.choose {
    background: url('../images/choose-bg.png') center/cover no-repeat;
    padding: 88px 0;

    .main_title {
        color: #FFF;
        margin-bottom: 40px;
    }

    &_card {
        background: #fff;
        border-radius: 56px;
        padding: 40px 40px 40px 32px;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        font-family: $font-montserrat;
        width: 100%;

        img {
            width: 40px;
        }

        h4 {
            font-size: 24px;
            font-weight: bold;
            line-height: 120%;
            margin-bottom: 4px;
        }

        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 0;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    li {
        display: flex;
        align-items: stretch;
        gap: 24px;

        &:nth-child(1) {
            .choose_card:last-child {
                flex-shrink: 0;
                width: 513px;
            }
        }
        
        &:nth-child(2) {
            .choose_card:first-child {
                flex-shrink: 0;
                width: 580px;
            }
        }
        &:nth-child(3) {
            .choose_card:last-child {
                flex-shrink: 0;
                width: 580px;
            }
        }
    }
}
// Choose end

// Program
.program {
    padding-top: 120px;

    .main_title {
        margin-bottom: 40px;
    }

    &_card {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        &__item {
            background: #fff;
            padding: 40px;
            position: relative;
            z-index: 1;
            width: calc(100% / 3 - 16px);
            border-radius: 56px;
            font-family: $font-montserrat;
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: relative;
            z-index: 1;
            
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 56px;
                border: 1px solid #DBDBDB;
                z-index: -1;
                transition: .2s ease all;
            }

            &:hover {
                &:before {
                    border: 2.5px solid #6060F0;
                }

                h4 {
                    color: #6060F0;
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            li {
                background: #F1F2F6;
                border-radius: 50px;
                padding: 6px 10px 6px 6px;
                display: flex;
                align-items: center;
                gap: 5px;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
            }

            h4 {
                margin: 0;
                font-weight: bold;
                font-size: 24px;
                line-height: 120%;
            }

            .main-img {
                position: absolute;
                right: 40px;
                top: 34px;
                z-index: -1;
            }
        }

        &:not(.active) .program_card__item:nth-child(n+10) {
            display: none;
        }
    }

    .btn_wrap {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
            outline: none;
            border: none;
            background: transparent;
            font-family: $font-montserrat;
            font-weight: 300;
            font-size: 20px;
            line-height: 160%;

            span:nth-child(2) {
                display: none;
            }

            &.active {
                span {
                    display: none;

                    &:nth-child(2) {
                        display: inline-block;
                    }
                }

                img {
                    transform: rotateZ(180deg);
                }
            }
        }
    }
}
// Program end

.corporateBenefit {
    padding: 120px 0 0;
}

.merionAbout {
    padding: 0;
    margin-bottom: 120px;

    &__certificate {
        &-info {
            padding-right: 40px;
        }

        &-title {
            font-size: 34px;
        }

        &-txt {
            font-size: 20px;
        }

        &-img {
            width: 277px;
        }
    }
}

.corporateConsultation {
    padding: 120px 0;
}

@media (max-width: 1400px) {
    // Choose
    .choose {
        li {

            &:nth-child(1) {
                .choose_card:last-child {
                    width: 436px;
                }
            }
            
            &:nth-child(2) {
                .choose_card:first-child {
                    width: 500px;
                }
            }
            &:nth-child(3) {
                .choose_card:last-child {
                    width: 511px;
                }
            }
        }
    }
    // Choose end

    // About
    .about {
        &_content {
            border-radius: 0 0 56px 56px;
            overflow: hidden;
        }

        &_body {
            p {
                font-family: $font-montserrat;
                font-size: 32px;
                font-weight: 500;
                line-height: 160%;
                max-width: 660px;
            }

            img {
                right: 0px;
                width: 353px;
            }
        }
    }
    // About end

    .merionAbout {
        &__certificate {
            position: relative;
            min-height: 525px;

            &-info {
                padding-right: 0;
            }
    
            &-title {
                font-size: 34px;
            }
    
            &-txt {
                font-size: 20px;
                padding-right: 356px;
                max-width: 100%;

                br {
                    display: none;
                }
            }
    
            &-img {
                width: 277px;
                position: absolute;
                bottom: 72px;
                right: 72px;
            }
        }
    }
}

@media (max-width: 1200px) {
    // Home 
    .home {
        padding: 88px 0 0;
        height: 645px;

        img {
            min-width: 890px;
            width: 890px;
            right: -6px;
            bottom: -156px;
        }
    }
    // Home  end

    // About
    .about {
        &_content {
            border-radius: 0 0 56px 56px;
            overflow: hidden;
        }

        &_body {
            p {
                font-size: 26px;
                max-width: 411px;
            }

            img {
                right: -20px;
                width: 355px;
            }
        }

        &_card {
            &__item {
                padding: 32px;
    
                h3 {
                    font-size: 32px;
                    font-family: $font-benzin;
                    line-height: 120%;
                    opacity: 0.7;
                    min-height: 76.8px;
                }
    
                h4 {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 120%;
                    color: #1F1F1F;
                    opacity: 0.7;
                    margin-bottom: 4px;
                }
    
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 160%;
                    margin-bottom: 0;
                }
    
                &:nth-child(2) {
                    width: 312px;
                    flex-shrink: 0;
    
                    h3, h4 {
                        color: #163DA8;
                        opacity: 1;
                    }
                }
    
                &:nth-child(3) {
                    background: #163DA8;
                    color: #fff;
    
                    h3, h4 {
                        opacity: 1;
                        color: #fff;
                    }
                }
            }
        }
    }
    // About end

    // Work
    .work {
        &_card {
            gap: 16px;

            &__item {
                padding: 32px;

                h3 {
                    margin-bottom: 32px;
                }
            }
        }
    }
    // Work end

    // Choose
    .choose {
        background-image: url('../images/choose-bg-lg.png');

        li {
            &:nth-child(1) {
                .choose_card:last-child {
                    width: 355px;
                }
            }
            
            &:nth-child(2) {
                .choose_card:first-child {
                    width: 468px;
                }
            }
            &:nth-child(3) {
                .choose_card:last-child {
                    width: 440px;
                }
            }
        }
    }
    // Choose end

    // Program
    .program {
        &_card {
            &__item {
                width: calc(50% - 12px);
            }

            &:not(.active) .program_card__item:nth-child(n+7) {
                display: none;
            }
        }
    }
    // Program end

    .merionAbout {
        &__certificate {
            position: relative;
            min-height: 525px;
    
            &-title {
                font-size: 34px;
            }
    
            &-txt {
                font-size: 20px;
                padding-right: 301px;
            }
    
            &-img {
                width: 277px;
                position: absolute;
                bottom: 72px;
                right: 72px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .main {
        &_title {
            font-size: 40px;
        }

        &_description {
            font-size: 20px;
        }
    }

     // Home 
    .home {
        padding: 56px 0 0;
        height: 600px;
        border-radius: 0 0 64px 64px;

        h2 {
            font-size: 40px;
            line-height: 120%;
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }

        img {
            min-width: 748px;
            width: 748px;
            right: -20px;
            bottom: -155px;

            &.lg {
                display: none;
            }

            &.sm {
                display: block;
            }
        }
    }
    // Home  end

    // About
    .about {
        padding-top: 80px;

        .main_description {
            margin-bottom: 40px;
        }

        &_content {
            border-radius: 0 0 32px 32px;
            margin-bottom: 80px;
        }
        
        &_body {
            border-radius: 32px;

            p {
                max-width: 250px;
                font-size: 20px;
                font-weight: 400;
            }

            img {
                right: -70px;
                width: 350px;
            }
        }

        &_card {
            gap: 16px;

            &__item {
                padding: 24px;
                border-radius: 32px;
    
                h3 {
                    font-size: 20px;
                    min-height: 48px;
                }
    
                h4 {
                    font-size: 16px;
                }
    
                p {
                    font-size: 12px;
                    min-height: 38px;
                }
    
                &:nth-child(2) {
                    width: 100%;
                    flex-shrink: inherit;
                }
    
                &:nth-child(3) {
                    width: 202px;
                    flex-shrink: 0;
                }
            }
        }
    }
    // About end

    // Work
    .work {
        padding: 80px 0;
        &_card {
            gap: 16px;

            &__item {
                padding: 24px;
                border-radius: 32px;

                h3 {
                    font-size: 20px;
                }

                h4 {
                    font-size: 16px;
                    white-space: nowrap;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
    // Work end

    // Choose
    .choose {
        padding: 64px 0;

        &_card {
            padding: 24px;
            flex-direction: column;
            gap: 16px;
            border-radius: 32px;

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }

        ul {
            gap: 18px;
        }

        li {
            gap: 16px;

            &:nth-child(1) {
                .choose_card:last-child {
                    width: 220px;
                }
            }
            
            &:nth-child(2) {
                .choose_card:first-child {
                    width: 326px;
                }
            }
            &:nth-child(3) {
                .choose_card:last-child {
                    width: 306px;
                }
            }
        }
    }
    // Choose end

    // Program
    .program {
        padding-top: 80px;

        &_card {
            gap: 16px;

            &__item {
                width: calc(50% - 8px);
                padding: 24px;
                border-radius: 32px;
                gap: 16px;

                &::before {
                    border-radius: 32px;
                }

                h4 {
                    font-size: 20px;
                }

                .main-img {
                    width: 39px;
                    right: 24px;
                    top: 17px;
                }
            }

            &:not(.active) .program_card__item:nth-child(n+7) {
                display: none;
            }
        }

        .btn_wrap {
            button {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                padding: 16px 32px;
                border-radius: 16px;
                background: #E3E4EF;
            }
        }
    }
    // Program end

    .corporateBenefit {
        padding: 80px 0 0;
    }
    
    .merionAbout {
        padding: 0;
        margin-bottom: 80px;

        &__certificate {
            position: relative;
            min-height: auto;
            padding: 260px 40px 40px;
    
            &-title {
                font-size: 24px;
                margin-bottom: 16px;
            }
    
            &-txt {
                font-size: 16px;
                padding-right: 0;
            }
    
            &-img {
                position: absolute;
                width: auto;
                height: 180px;
                top: 40px;
                bottom: auto;
                right: 50%;
                transform: translateX(50%);

                img, picture {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .corporateConsultation {
        padding: 80px 0;
    }
}

@media (max-width: 767px) {
    .main {
        &_title {
            font-size: 24px;
        }

        &_description {
            font-size: 16px;
        }
    }

     // Home 
    .home {
        height: 666px;
        border-radius: 0 0 32px 32px;
        padding-top: 56px;

        h2 {
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            margin-bottom: 32px;
        }

        a {
            width: 100%;
            justify-content: center;
        }

        img {
            min-width: 700px;
            width: 700px;
        }
    }
    // Home  end

    // About
    .about {
        padding-top: 48px;

        .main_description {
            margin: 16px 0 40px;
        }

        &_content {
            margin-bottom: 48px;
        }
        
        &_body {
            padding: 24px;
            
            p {
                max-width: 100%px;
                font-size: 16px;
                padding-bottom: 182px;
            }

            img {
                right: 0px;
                bottom: -9.5px;
                width: 241px;
            }
        }

        &_card {
            gap: 8px;
            flex-direction: column;

            &__item {
                padding: 24px;
                border-radius: 32px;
                flex-direction: unset;
                flex-wrap: wrap;
                gap: 0;
    
                h3 {
                    font-size: 18px;
                    min-height: auto;
                    width: 100%;
                    margin-bottom: 24px;
                }

                div {
                    width: 50%;
                }
    
                p {
                    min-height: auto;
                    padding-right: 10px;
                }
    
                &:nth-child(2) {
                    width: 100%;
                    flex-shrink: inherit;
                }
    
                &:nth-child(3) {
                    width: 100%;
                }
            }
        }
    }
    // About end

    // Work
    .work {
        padding: 48px 0;

        .main_description {
            margin: 16px 0 24px;
        }

        &_card {
            gap: 8px;
            flex-wrap: wrap;

            &__item {
                width: calc(50% - 4px);

                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    // Work end

    // Choose
    .choose {
        padding: 48px 0;
        background-image: url('../images/choose-bg-sm.png');

        &_card {
            gap: 0;
            position: relative;
            width: 100% !important;

            img {
                position: absolute;
                width: 24px;
                top: 24px;
                left: 24px;
            }

            h4 {
                font-size: 16px;
                padding-left: 40px;
                margin-bottom: 21px;
            }

            p {
                font-size: 14px;
            }
        }

        ul {
            gap: 8px;
        }

        li {
            gap: 8px;
            flex-direction: column;
        }
    }
    // Choose end

    // Program
    .program {
        padding-top: 48px;

        .main_title {
            margin-bottom: 24px;
        }

        &_card {
            gap: 8px;

            &__item {
                width: 100%;
            }

            &:not(.active) .program_card__item:nth-child(n+4) {
                display: none;
            }
        }

        .btn_wrap {
            button {
                width: 100%;
                justify-content: center;
            }
        }
    }
    // Program end

    .corporateBenefit {
        padding: 48px 0 0;
    }
    
    .merionAbout {
        padding: 0;
        margin-bottom: 48px;

        &__certificate {
            padding: 235px 24px 32px;
    
            &-title {
                font-size: 20px;
            }
    
            &-txt {
                font-size: 14px;
            }
        }
    }

    .corporateConsultation {
        padding: 48px 0;
    }
}